@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:var(--www-apple-com-inter-regular-23-95-font-weight),var(--www-apple-com-inter-regular-18-87-font-weight),var(--www-apple-com-inter-semi-bold-51-3-font-weight),600,var(--www-apple-com-inter-regular-18-38-font-weight),var(--www-apple-com-inter-regular-18-21-font-weight),var(--www-apple-com-inter-regular-24-39-font-weight),var(--www-apple-com-inter-semi-bold-51-63-font-weight),var(--www-apple-com-inter-bold-14-font-weight),var(--www-apple-com-inter-regular-16-87-font-weight),var(--www-apple-com-inter-regular-19-2-font-weight),400,var(--www-apple-com-inter-regular-16-73-font-weight),var(--www-apple-com-inter-regular-12-6-font-weight)");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
