:root {
  --wwwapplecomnero: rgba(255, 255, 255, 1);
  --wwwapplecomwhite-lilac: rgba(251, 251, 253, 1);
  --wwwapplecomshark: rgba(29, 29, 31, 1);
  --wwwapplecomscience-blue: rgba(0, 102, 204, 1);
  --wwwapplecomblack: rgba(0, 0, 0, 1);
  --wwwapplecomathens-gray: rgba(245, 245, 247, 1);
  --wwwapplecomjapanese-laurel: rgba(41, 151, 255, 1);
  --wwwapplecomblack-80: rgba(0, 0, 0, 0.8);
  --wwwapplecomblack-42: rgba(0, 0, 0, 0.42);
  --wwwapplecomcod-gray: rgba(29, 29, 29, 1);
  --wwwapplecomblack-16: rgba(0, 0, 0, 0.16);
  --wwwapplecomblack-56: rgba(0, 0, 0, 0.56);
  --wwwapplecomblack-72: rgba(0, 0, 0, 0.72);
  --wwwapplecomblack-88: rgba(0, 0, 0, 0.88);
  --wwwapplecomblack-48: rgba(0, 0, 0, 0.48);
  --wwwapplecomwoodsmoke-80: rgba(22, 22, 23, 0.8);
  --wwwapplecomnero-80: rgba(255, 255, 255, 0.8);
  --www-apple-com-inter-semi-bold-51-63-font-family: "Inter", Helvetica;
  --www-apple-com-inter-semi-bold-51-63-font-weight: 600;
  --www-apple-com-inter-semi-bold-51-63-font-size: 51.625px;
  --www-apple-com-inter-semi-bold-51-63-letter-spacing: -0.2800000011920929px;
  --www-apple-com-inter-semi-bold-51-63-line-height: 60px;
  --www-apple-com-inter-semi-bold-51-63-font-style: normal;
  --www-apple-com-inter-regular-24-39-font-family: "Inter", Helvetica;
  --www-apple-com-inter-regular-24-39-font-weight: 400;
  --www-apple-com-inter-regular-24-39-font-size: 24.390625px;
  --www-apple-com-inter-regular-24-39-letter-spacing: 0.1120000034570694px;
  --www-apple-com-inter-regular-24-39-line-height: 31px;
  --www-apple-com-inter-regular-24-39-font-style: normal;
  --www-apple-com-inter-regular-18-38-font-family: "Inter", Helvetica;
  --www-apple-com-inter-regular-18-38-font-weight: 400;
  --www-apple-com-inter-regular-18-38-font-size: 18.375px;
  --www-apple-com-inter-regular-18-38-letter-spacing: 0.23100000619888306px;
  --www-apple-com-inter-regular-18-38-line-height: 29px;
  --www-apple-com-inter-regular-18-38-font-style: normal;
  --www-apple-com-inter-regular-19-2-font-family: "Inter", Helvetica;
  --www-apple-com-inter-regular-19-2-font-weight: 400;
  --www-apple-com-inter-regular-19-2-font-size: 19.1953125px;
  --www-apple-com-inter-regular-19-2-letter-spacing: 0.23100000619888306px;
  --www-apple-com-inter-regular-19-2-line-height: 29px;
  --www-apple-com-inter-regular-19-2-font-style: normal;
  --www-apple-com-inter-semi-bold-51-3-font-family: "Inter", Helvetica;
  --www-apple-com-inter-semi-bold-51-3-font-weight: 600;
  --www-apple-com-inter-semi-bold-51-3-font-size: 51.296875px;
  --www-apple-com-inter-semi-bold-51-3-letter-spacing: -0.2800000011920929px;
  --www-apple-com-inter-semi-bold-51-3-line-height: 60px;
  --www-apple-com-inter-semi-bold-51-3-font-style: normal;
  --www-apple-com-inter-regular-23-95-font-family: "Inter", Helvetica;
  --www-apple-com-inter-regular-23-95-font-weight: 400;
  --www-apple-com-inter-regular-23-95-font-size: 23.953125px;
  --www-apple-com-inter-regular-23-95-letter-spacing: 0.1120000034570694px;
  --www-apple-com-inter-regular-23-95-line-height: 31px;
  --www-apple-com-inter-regular-23-95-font-style: normal;
  --www-apple-com-inter-regular-24-72-font-family: "Inter", Helvetica;
  --www-apple-com-inter-regular-24-72-font-weight: 400;
  --www-apple-com-inter-regular-24-72-font-size: 24.71875px;
  --www-apple-com-inter-regular-24-72-letter-spacing: 0.1120000034570694px;
  --www-apple-com-inter-regular-24-72-line-height: 31px;
  --www-apple-com-inter-regular-24-72-font-style: normal;
  --www-apple-com-inter-regular-16-73-font-family: "Inter", Helvetica;
  --www-apple-com-inter-regular-16-73-font-weight: 400;
  --www-apple-com-inter-regular-16-73-font-size: 16.734375px;
  --www-apple-com-inter-regular-16-73-letter-spacing: -0.37400001287460327px;
  --www-apple-com-inter-regular-16-73-line-height: 21px;
  --www-apple-com-inter-regular-16-73-font-style: normal;
  --www-apple-com-inter-regular-18-87-font-family: "Inter", Helvetica;
  --www-apple-com-inter-regular-18-87-font-weight: 400;
  --www-apple-com-inter-regular-18-87-font-size: 18.8671875px;
  --www-apple-com-inter-regular-18-87-letter-spacing: 0.335999995470047px;
  --www-apple-com-inter-regular-18-87-line-height: 26px;
  --www-apple-com-inter-regular-18-87-font-style: normal;
  --www-apple-com-inter-regular-18-21-font-family: "Inter", Helvetica;
  --www-apple-com-inter-regular-18-21-font-weight: 400;
  --www-apple-com-inter-regular-18-21-font-size: 18.2109375px;
  --www-apple-com-inter-regular-18-21-letter-spacing: 0.335999995470047px;
  --www-apple-com-inter-regular-18-21-line-height: 26px;
  --www-apple-com-inter-regular-18-21-font-style: normal;
  --www-apple-com-inter-regular-12-6-font-family: "Inter", Helvetica;
  --www-apple-com-inter-regular-12-6-font-weight: 400;
  --www-apple-com-inter-regular-12-6-font-size: 12.600000381469727px;
  --www-apple-com-inter-regular-12-6-letter-spacing: 0.335999995470047px;
  --www-apple-com-inter-regular-12-6-line-height: 15.600000381469727px;
  --www-apple-com-inter-regular-12-6-font-style: normal;
  --www-apple-com-inter-regular-18-54-font-family: "Inter", Helvetica;
  --www-apple-com-inter-regular-18-54-font-weight: 400;
  --www-apple-com-inter-regular-18-54-font-size: 18.5390625px;
  --www-apple-com-inter-regular-18-54-letter-spacing: 0.335999995470047px;
  --www-apple-com-inter-regular-18-54-line-height: 26px;
  --www-apple-com-inter-regular-18-54-font-style: normal;
  --www-apple-com-inter-regular-16-87-font-family: "Inter", Helvetica;
  --www-apple-com-inter-regular-16-87-font-weight: 400;
  --www-apple-com-inter-regular-16-87-font-size: 16.8671875px;
  --www-apple-com-inter-regular-16-87-letter-spacing: -0.37400001287460327px;
  --www-apple-com-inter-regular-16-87-line-height: 21px;
  --www-apple-com-inter-regular-16-87-font-style: normal;
  --www-apple-com-inter-semi-bold-36-25-font-family: "Inter", Helvetica;
  --www-apple-com-inter-semi-bold-36-25-font-weight: 600;
  --www-apple-com-inter-semi-bold-36-25-font-size: 36.25px;
  --www-apple-com-inter-semi-bold-36-25-letter-spacing: 0px;
  --www-apple-com-inter-semi-bold-36-25-line-height: 44px;
  --www-apple-com-inter-semi-bold-36-25-font-style: normal;
  --www-apple-com-inter-semi-bold-36-56-font-family: "Inter", Helvetica;
  --www-apple-com-inter-semi-bold-36-56-font-weight: 600;
  --www-apple-com-inter-semi-bold-36-56-font-size: 36.5625px;
  --www-apple-com-inter-semi-bold-36-56-letter-spacing: 0px;
  --www-apple-com-inter-semi-bold-36-56-line-height: 44px;
  --www-apple-com-inter-semi-bold-36-56-font-style: normal;
  --www-apple-com-inter-regular-18-05-font-family: "Inter", Helvetica;
  --www-apple-com-inter-regular-18-05-font-weight: 400;
  --www-apple-com-inter-regular-18-05-font-size: 18.046875px;
  --www-apple-com-inter-regular-18-05-letter-spacing: 0.335999995470047px;
  --www-apple-com-inter-regular-18-05-line-height: 26px;
  --www-apple-com-inter-regular-18-05-font-style: normal;
  --www-apple-com-inter-bold-14-font-family: "Inter", Helvetica;
  --www-apple-com-inter-bold-14-font-weight: 700;
  --www-apple-com-inter-bold-14-font-size: 14px;
  --www-apple-com-inter-bold-14-letter-spacing: -0.2240000069141388px;
  --www-apple-com-inter-bold-14-line-height: 20px;
  --www-apple-com-inter-bold-14-font-style: normal;
  --www-apple-com-inter-bold-16-09-font-family: "Inter", Helvetica;
  --www-apple-com-inter-bold-16-09-font-weight: 700;
  --www-apple-com-inter-bold-16-09-font-size: 16.09375px;
  --www-apple-com-inter-bold-16-09-letter-spacing: 0px;
  --www-apple-com-inter-bold-16-09-line-height: 22px;
  --www-apple-com-inter-bold-16-09-font-style: normal;
  --www-apple-com-inter-regular-16-09-font-family: "Inter", Helvetica;
  --www-apple-com-inter-regular-16-09-font-weight: 400;
  --www-apple-com-inter-regular-16-09-font-size: 16.09375px;
  --www-apple-com-inter-regular-16-09-letter-spacing: 0px;
  --www-apple-com-inter-regular-16-09-line-height: 22px;
  --www-apple-com-inter-regular-16-09-font-style: normal;
  --www-apple-com-inter-bold-14-84-font-family: "Inter", Helvetica;
  --www-apple-com-inter-bold-14-84-font-weight: 700;
  --www-apple-com-inter-bold-14-84-font-size: 14.84375px;
  --www-apple-com-inter-bold-14-84-letter-spacing: 0px;
  --www-apple-com-inter-bold-14-84-line-height: 22px;
  --www-apple-com-inter-bold-14-84-font-style: normal;
  --www-apple-com-inter-regular-14-84-font-family: "Inter", Helvetica;
  --www-apple-com-inter-regular-14-84-font-weight: 400;
  --www-apple-com-inter-regular-14-84-font-size: 14.84375px;
  --www-apple-com-inter-regular-14-84-letter-spacing: 0px;
  --www-apple-com-inter-regular-14-84-line-height: 22px;
  --www-apple-com-inter-regular-14-84-font-style: normal;
  --www-apple-com-inter-regular-11-81-font-family: "Inter", Helvetica;
  --www-apple-com-inter-regular-11-81-font-weight: 400;
  --www-apple-com-inter-regular-11-81-font-size: 11.8125px;
  --www-apple-com-inter-regular-11-81-letter-spacing: -0.11999999731779099px;
  --www-apple-com-inter-regular-11-81-line-height: 16px;
  --www-apple-com-inter-regular-11-81-font-style: normal;
  --www-apple-com-inter-regular-11-81-underline-font-family: "Inter", Helvetica;
  --www-apple-com-inter-regular-11-81-underline-font-weight: 400;
  --www-apple-com-inter-regular-11-81-underline-font-size: 11.8125px;
  --www-apple-com-inter-regular-11-81-underline-letter-spacing: -0.11999999731779099px;
  --www-apple-com-inter-regular-11-81-underline-line-height: 16px;
  --www-apple-com-inter-regular-11-81-underline-font-style: normal;
  --www-apple-com-inter-regular-12-font-family: "Inter", Helvetica;
  --www-apple-com-inter-regular-12-font-weight: 400;
  --www-apple-com-inter-regular-12-font-size: 12px;
  --www-apple-com-inter-regular-12-letter-spacing: -0.11999999731779099px;
  --www-apple-com-inter-regular-12-line-height: 16px;
  --www-apple-com-inter-regular-12-font-style: normal;
  --www-apple-com-inter-semi-bold-12-font-family: "Inter", Helvetica;
  --www-apple-com-inter-semi-bold-12-font-weight: 600;
  --www-apple-com-inter-semi-bold-12-font-size: 12px;
  --www-apple-com-inter-semi-bold-12-letter-spacing: -0.11999999731779099px;
  --www-apple-com-inter-semi-bold-12-line-height: 16px;
  --www-apple-com-inter-semi-bold-12-font-style: normal;
}
